[Unit]
Description=DjTest
After=syslog.target
After=network.target

[Service]
Type=simple
#WorkingDirectory=/home/ark/Junk\ Projects/djtest/

User=root
Group=root

#Environment=RACK_ENV=production
#OOMScoreAdjust=-1000

ExecStart=/bin/bash '/home/ark/djtest/deploy_reload.sh'
# /usr/bin/python3 /home/ark/Junk\ Projects/djtest/manage.py rnserver 8000 service -C /home/ark/Junk\ Projects/djtest/shared/config/service.state active
ExecStop=/bin/pkill -TERM $MAINPID
#RestartSec=10

[Install]
WantedBy=multi-user.target