[Unit]
Description=DjTest
After=syslog.target
After=network.target

[Service]
Type=simple
#WorkingDirectory=/home/ark/Junk\ Projects/djtest/

User=root
Group=root

#Environment=RACK_ENV=production
#OOMScoreAdjust=-1000


#ExecStart=/bin/bash '/home/ark/djtest/service_reload.sh'
#ExecStart=/bin/echo 'hi' > "${APP_DIR}/hi"
ExecStart=/usr/bin/python3 ${APP_DIR}/manage.py runserver 8000
#ExecStart=/bin/true
ExecStop=/bin/pkill -TERM $MAINPID
#RestartSec=10

[Install]
WantedBy=multi-user.target